### Importing

In [2]:
import sqlite3

### Connecting to Database

In [15]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

### Create Table

In [4]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS student (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

# CRUD Operations

### Create (Insertion)

In [5]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO student(name, age) 
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 21)
create_student("alice", 22)
create_student("yash", 23)

Record added successfully!
Record added successfully!
Record added successfully!
Record added successfully!

### Read (Retrieve)

In [23]:
def read_students():
    cursor.execute('SELECT * FROM student')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(7, 'Guts', 21)
(8, 'alice', 22)
(9, 'Griffith', 20)
(10, 'Guts', 21)
(11, 'alice', 22)
(12, 'Griffith', 20)
(13, 'Guts', 21)
(14, 'alice', 22)
(15, 'yash', 23)
(16, 'Griffith', 20)
(17, 'Guts', 21)
(18, 'alice', 22)
(19, 'yash', 23)

### Update

In [7]:
def update_student_age(student_id, new_age):
    cursor.execute('''
        update student
        set age = ?
        where id = ?


        
    ''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(1, 22)  # Updating Alice's age to 21
read_students()

Student age updated successfully!
Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)
(3, 'Griffith', 20)
(4, 'Guts', 22)
(5, 'Griffith', 20)
(6, 'Guts', 22)
(7, 'Griffith', 20)
(8, 'Guts', 22)

### Delete

In [18]:
def delete_student(student_id):
    cursor.execute('''
        delete 
        from student
        where id = ?;
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(1)  # Deleting Bob's record
delete_student(2)  # Deleting Bob's record
delete_student(3)  # Deleting Bob's record
delete_student(4)  # Deleting Bob's record
delete_student(5)  # Deleting Bob's record
delete_student(6)  # Deleting Bob's record
read_students()

Student deleted successfully!
Student deleted successfully!
Student deleted successfully!
Student deleted successfully!
Student deleted successfully!
Student deleted successfully!
Student Records:
(7, 'Guts', 21)
(8, 'alice', 22)
(9, 'Griffith', 20)
(10, 'Guts', 21)
(11, 'alice', 22)
(12, 'Griffith', 20)
(13, 'Guts', 21)
(14, 'alice', 22)
(15, 'yash', 23)
(16, 'Griffith', 20)
(17, 'Guts', 21)
(18, 'alice', 22)
(19, 'yash', 23)

### Closing the database connection

In [14]:
connection.close ()